                                         /*general_mixins*/
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

@mixin column-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

                                        /*mixin_animation*/

