                                        /*design_settings*/
header{
    background-color: $color-secondary;
    height: 120px;
    width: 100vw;
    position: relative;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__logo{
    height: 90%;
    width: 40%;
    display: flex;

    align-items: center;
    justify-content: center;
}
.nav__menu{
    display: none;
}
.nav__burger{
    color: $color-tertiary;
}
                                        /*responsive_design*/


                    /*responsive_desktop*/
@media only screen and (min-width: 1025px){
    header{
        background-color: $color-secondary;
        height: 130px;
        width: 100vw;
        position: relative;
        top: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav__logo{
        width: 10vw;
        display: flex;
        align-items: center;
        justify-content: center;

    }

} 